{% extends "scalarfootDashboard.html" %}
{% block main %}
<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="uk-light uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
            <img sizes="100vw"
                 data-src="https://picsum.photos/1200/900/?image=482" alt="Home" data-uk-cover data-uk-img
            />
            <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400" style="background-color: rgba(0, 0, 0, 0.5);">
                <div class="uk-container uk-container-small uk-flex-auto uk-text-center"
                     data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
                    <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">Appointments</h1>
                    <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
                        <p class="lead">Bienvenido, Organizar Nunca Habia Sido Tan Facil</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

