{% extends "scalarfootDashboard.html" %}
{% block main %}
<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="uk-grid uk-grid-medium" data-uk-grid>
            <div class="uk-width-1-1@l">
                <div class="uk-card uk-card-default uk-card-small uk-card-hover">
                    <div class="uk-card-header">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-auto"><h4>Listado</h4></div>
                        </div>
                    </div>
                    <div class="uk-card-body uk-overflow-auto">
                        <table class="uk-table uk-table-responsive uk-table-striped uk-table-hover"
                               id="tablePermission">
                            <thead>
                            <tr>
                                {% for attr in listAttributes %}
                                <td id="{{attr.Key}}">{{attr.Value}}</td>
                                {% endfor %}
                                <td>Opciones</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div id="pagination" class="tui-pagination"></div>
                        <span class="uk-text-danger" id="errorList"></span>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1@l">
                <div class="uk-card uk-card-default uk-card-small uk-card-hover">
                    <div class="uk-card-header">
                        <div class="uk-width-auto"><h4>Agregar</h4></div>
                    </div>
                    <div class="uk-card-body uk-overflow-auto">
                        <form>
                            <fieldset class="uk-fieldset">
                                <div class="uk-margin">
                                    <input class="uk-input" type="text" placeholder="Nombre" id="inputName"/>
                                    <span class="uk-text-danger" id="errorName"></span>
                                </div>
                            </fieldset>
                        </form>
                        <span class="uk-text-danger" id="message"></span>
                        <p class="uk-text-right">
                            <button class="uk-button uk-button-primary" type="button" id="savePermission">Save
                            </button>
                            <span id="loading" class="uk-hidden" uk-spinner></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- This is the modal -->
<div id="modal-edit-permission" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Editar</h2>
        <form>
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <input class="uk-input" type="number" placeholder="Id" id="inputEditId" disabled/>
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Nombre" id="inputEditName"/>
                    <span class="uk-text-danger" id="errorEditName"></span>
                </div>
            </fieldset>
        </form>
        <span class="uk-text-danger" id="messageEdit"></span>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" id="editPermission">Save</button>
            <span id="loadingEdit" class="uk-hidden" uk-spinner></span>
        </p>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/public/js/permission.js"></script>
{% endblock %}