<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
    <!-- custom dashboard -->
    <link rel="stylesheet" href="/public/css/login-dark.css"/>

    <title>Agenda</title>
</head>
<body class="login uk-cover-container uk-background-secondary uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-overflow-hidden uk-light"
      data-uk-height-viewport>
<!-- overlay -->
<div class="uk-position-cover uk-overlay-primary"></div>
<!-- /overlay -->
<div class="uk-position-bottom-center uk-position-small uk-visible@m uk-position-z-index">
    <span class="uk-text-small uk-text-muted">© <span id="login-year"></span> - <a href="https://www.digitaltime.com.co/" target="_blank">Digital Time</a> | Built with
        <a href="https://www.digitaltime.com.co/" title="Visit DigitalTime site" target="_blank" data-uk-tooltip><span
                    data-uk-icon="uikit"></span></a></span>
</div>
<div class="uk-width-medium uk-padding-small uk-position-z-index" uk-scrollspy="cls: uk-animation-fade">
    <div class="uk-text-center uk-margin">
        <img src="/public/img/login-logo.svg" alt="Logo">
    </div>
    <!-- login -->
    <form class="toggle-class" method="post">
        <fieldset class="uk-fieldset">
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                    <input class="uk-input uk-border-pill" required placeholder="Username" type="text" name="userName" />
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                    <input class="uk-input uk-border-pill" required placeholder="Password" type="password" name="password" />
                </div>
            </div>
            {% if error %}
                <div class="uk-margin-small uk-margin-medium-left">
                    <span class="uk-text-danger">{{ error }}</span>
                </div>
            {% endif %}
            <div class="uk-margin-bottom">
                <button type="submit" class="uk-button uk-button-primary uk-border-pill uk-width-1-1">LOG IN</button>
            </div>
        </fieldset>
    </form>
</div>
<!-- JS FILES -->
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
<!-- custom js -->
<script src="/public/js/login.js"></script>
</body>
</html>